@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #032B43;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scroll {
  position: relative;
  display: flex;
  width: 700px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
}

.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time)*-1);
}

.scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #136F63;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.5s;
}

.scroll div span:hover {
  background: #2865ba;
  cursor: pointer;
}

/* For reverse animation */
.scroll-reverse {
  position: relative;
  display: flex;
  width: 700px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
}

.scroll-reverse div {
  white-space: nowrap;
  animation: scroll-first-reverse var(--time) linear infinite;
  animation-delay: calc(var(--time)*-1);
}

.scroll-reverse div:nth-child(2) {
  animation: scroll-second-reverse var(--time) linear infinite;
  animation-delay: calc(var(--time)/-2);
}

@keyframes scroll-first-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes scroll-second-reverse {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

.scroll-reverse div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #136F63;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.5s;
}

.scroll-reverse div span:hover {
  background: #2865ba;
  cursor: pointer;
}
